{
	"presets": [
		"es2015",
		"react",
		"stage-0"
	],
	"plugins": [
		[
			"css-modules-transform",
			{
				"extractCss": {
					"dir": "./lib/",
					"relativeRoot": "./src/",
					"filename": "[path]/[name].css"
				},
				"keepImport": true
			}
		]
	]
}